.box {
    background-color: white;
    box-shadow: 2px 2px 8px #888888;
    width: 97%;
    max-width: 97%;
    /* height: 100%; */
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 10px;
    /* display: block; */
    padding-right: 15px;
    overflow: hidden;
}

.box:first-child {
    margin-top: 20px;
}

.box:hover {
    background-color: azure;
}

.highlight {
    background-color: rgb(252, 211, 164);
    /* color: white; */
  }

.box .username {
    color: orange;
    text-align: left;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 12px;
    padding-left: 15px;
    padding-top: 0px;
    /* position: relative;
    top: 40%; */
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1em;
}

.box .subreddit {
    color: gray;
    display: inline-block;
    font-size: 10px;
    padding-left: 4px;
    vertical-align: sup;
    font-family: 'Nunito Sans', sans-serif;
}

.box .msg {
    color: black;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    position: relative;
    bottom: 25px;
    padding-left: 15px;
    margin-top: 3px;
    font-family: 'Nunito Sans', sans-serif;
    /* display: inline-block; */
}

.box .viewpost {
    color: gray;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 10px;
    text-align: right;
    text-transform: uppercase;
    margin-top: -30px;
    margin-bottom: 10px;
    text-decoration: none;
}

.viewpost a:link {
    color: gray;
    text-decoration: none;
}

.viewpost a:hover {
    color: orange;
    text-decoration: none;
}